<div class="container">
        <div class="row">
                <div class="col-12 col-md-10 col-mg-9 mx-auto">
                        <div class="text-center text-md-start">
                                <h1 class="fw-bold text-primary">Equipamentos</h1>
                        </div>

                        <div class="d-grid gap-2 d-md-block mt-4">
                                <button (click)="gravar(modal)" type="button" class="btn btn-primary me-md-1 col-md-2">
                                        <i class="pi pi-user-plus me-2"></i>Novo
                                </button>
                                <a role="button" class="btn btn-outline-primary col-md-2" routerLink="/painel"><i class="pi pi-backward

                                                me-2"></i>Voltar</a>
                        </div>
                        <div class="mt-4">
                                <table class="table table-light table-scriped table-hover">
                                        <thead class="thead-dark text-center">
                                                <tr>
                                                        <th>N° de Série</th>
                                                        <th>Nome do Equipamento</th>
                                                        <th>Preço de Aquisição</th>
                                                        <th>Data de Fabricação</th>
                                                        <th>Ações</th>


                                                </tr>
                                        </thead>
                                        <tbody class="text-center">
                                                <tr *ngFor="let equipamento of (equipamentos$ | async)">
                                                        <td>{{equipamento.numeroDeSerie}}</td>
                                                        <td>{{equipamento.nome}}</td>
                                                        <td><span>R$</span>{{equipamento.precoAquisicao}}</td>
                                                        <td>{{equipamento.dataDeFabricacao}}</td>

                                                        <td class="d-grid d-md-block">
                                                                <button (click)="gravar(modal, equipamento)"
                                                                        type="button"
                                                                        class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto">
                                                                        <i class="pi pi-user-edit"></i>
                                                                </button>
                                                                <button (click)="excluir(equipamento)" type="button"
                                                                        class="btn btn-outline-danger">
                                                                        <i class="pi pi-trash"></i>
                                                                </button>
                                                        </td>

                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
        </div>
</div>

<ng-template #modal let-modal>
        <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">{{tituloModal}} de equipamento</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
                <div class="modal-body">
                        <div class="form-group mb-3">
                                <label for="nome" class="form-label">Nome do equipamento</label>
                                <input formControlName="nome" type="text" class="form-control"
                                        placeholder="Digite o nome do equipamento">
                        </div>
                        <div class="form-group mb-3">
                                <label for="precoAquisicao" class="form-label">Preço de Aquisição</label>
                                <input formControlName="precoAquisicao" type="text" class="form-control"
                                        placeholder="Digite o preço do equipamento">
                        </div>
                        <div class="form-group mb-3">
                                <label for="dataDeFabricacao" class="form-label">Data de fabricação</label>
                                <input formControlName="dataDeFabricacao" type="date" class="form-control"
                                        placeholder="Informe a data de fabricação do equipamento">
                        </div>
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary"
                                (click)="modal.dismiss('fechar')">Cancelar</button>
                        <button type="submit" class="btn btn-primary col-md-3">Gravar</button>
                </div>
        </form>
</ng-template>